
.container{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
}
.row-reversed{
    flex-direction: row-reverse;
}
.center{
    justify-content: center;
}
nav{
    background-color: midnightblue;
    padding: 10px 0px;
}
nav h1{
    margin: 0;
    color: white;
}
.general-info,.education,.experience{
    margin-top: 25px;
    border:1px solid #333333;
    border-radius: 5px;
    padding: 25px;
}
.general-info .col,.education .col,
.experience .col{
 padding: 25px;
}
.general-info label, .education label,
.experience label{
    font-size: 16pt;
    margin-right: 10px;
}
.general-info input, .education input,
.experience input{
    font-size: 16pt;
    padding: 10px;
}
.general-info input[type="text"],.general-info input[type="email"],
.education input[type="text"],.education input[type="email"],
.experience input[type="text"],.experience input[type="email"]
{
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}
.general-info input[type="text"]:focus,.general-info input[type="email"]:focus,
.education input[type="text"]:focus,.education input[type="email"]:focus,
.experience input[type="text"]:focus,.experience input[type="email"]:focus{
    background-color: #9f9e9e;
}
.save-button{
    background-color: midnightblue;
    color: white;
    padding: 10px;
    font-size: 16pt;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 200px;
}

.general-info .row,.education .row{
    margin: 10px 0;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.93);
}
.hide{
    display: none;
}
.modal{
    position: relative;
    background-color: white;
    padding: 0 10px;
    max-width: 80vw;
    min-width: 70vw;
}
#close-modal{
    margin-top: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16pt;
    border: 1px solid red;
    cursor: pointer;
}
#close-modal:hover{
    color:white;
    background-color: red;
}
#preview{
    background-color: lime;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
}
#footer{
    background-color: midnightblue;
    color: white;
    margin-top: 25px;
}
@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .center{
        align-items: center;
    }
}